<div class="container-fluid">
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-xl-2 ">Title
  <div class="field">
    <%= form.text_field :title, id: :task_title, :require => true %>
  </div>
  </div>
  <div class="col-12 col-sm-12 col-xl-5 ">Description
  <div class="field">
    <%= form.text_area :description, :cols =>"100", :rows =>"10", id: :task_description %>
  </div>
  </div>
  <div class="col-12 col-sm-12 col-xl-1 ">
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['new', 'in progress', 'done']%>
  </div>

  Project
    <div class="field">
      <%= collection_radio_buttons(:task, :project_id, @projects, :id, :name) do |b|%>
          <div class="col-12">
            <%= b.label(class:"label-radiobutton") { b.radio_button + b.text } %>
          </div>
      <% end %>
    </div>

  </div>
  <div class="col-12 col-sm-12 col-xl-2 ">Users
    <div class="field">
      <%= collection_check_boxes(:task, :user_ids, @users, :id, :name_with_initial) do |b| %>
        <div class="col-12">
        <%= b.label(class:"label-checkbox") { b.check_box + b.text } %>
        </div>
          <% end %>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-xl-1">
  <div class="actions">

    <%= form.submit "Apply", :class => "btn btn-outline-dark" %>
  </div>
  </div>
</div>
<% end %>
