<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>project</th>
      <th>Users</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.status %></td>
        <% if task.project_id != nil && Project.exists?(id: task.project_id) then %>
        <td><%= Project.find(task.project_id).name %></td>
            <% else %>
            <td></td>
            <% end %>
        <td><%= task.users.map {|c| c.first_name+" "+c.last_name}.join('| ') %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
