<div class="container-fluid">
  <div class="row">

    <div class="col-2">
  <strong>Title:</strong>
  <%= @task.title %>
    </div>

      <div class="col-5 Summary">
  <strong>Description:</strong>
  <%= @task.description %>
      </div>

    <div class="col-1">
  <strong>Status:</strong>
  <%= @task.status %>
    </div>

      <div class="col-2">
  <strong>Users Names:</strong>
  <%= @task.users.map {|c| c.first_name}.join(', ') %>
      </div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
  </div>
</div>